@import "tailwindcss";

@theme {
  --font-display: "Poppins", sans-serif;
  --color-primary: #66fcf1;
  --color-secondary: #45a29e;
  --background: #0b0c10;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--background);
  color: white;
}

html {
  scroll-behavior: smooth;
}
