@import "tailwindcss";

@theme {
    --font-display: 'Poppins', sans-serif;
    --color-primary: #66FCF1;
    --color-secondary: #45A29E;
    --background: #0B0C10;
}

body {
    font-family: "Poppins", sans-serif;
    min-height: 200vh;
    background-color: var(--background);
    color: white;
}
